
.DS_Store
.vscode/settings.json
*/*/Library/*
*/*.csproj
*.csproj
Temp/*
*/*/Temp/*
.DS_Store
.sln
*.sln
*/*/*.sln
*/*.sln
*/*.vs
*/*.idea
.vs
.idea
*/*/obj
*/*/Logs
*/*/Packages
ProjectSettings/ProjectVersion.txt
Packages/packages-lock.json
ClientFramework.sln
*/*.sln
GameClient/Framework/ProjectSettings/ProjectVersion.txt
GameClient/Framework/ProjectSettings/ProjectVersion.txt
GameClient/Framework/ProjectSettings/ProjectVersion.txt
GameClient/Framework/.vscode/settings.json
GameClient/Framework/AssetBundles/
